/* common css */
* {
    box-sizing: border-box;
}

* body {
    color: #666666;
    background: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    margin: 0 auto;
    max-width: 1120px;
    width: 96%;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    color: #151414;
}

p {
    color: #000;
    font-size: 16px;
}


/* header css */

#header-area {
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-color: aquamarine;
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.banner-content {
    width: 50%;
    float: right;
    text-align: right;
    padding: 160px 150px 160px 76px;
}

.content-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-align: right;
    color: #151414;
}

.content-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 46px;
}

.btn-primary {
    font-size: 22px;
    color: #fff;
    background-color: chocolate;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

/* failure section css */

.failure-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 80px;
}

.left-side-content {
    width: 50%;
    margin-right: 40px;
}

.right-side-content {
    width: 50%;
    margin-top: 220px;
    margin-left: 40px;
}

.right-side-content .failure-title {
    font-size: 40px;
    padding-right: 156px;
}

.right-side-content .failure-desc {
    padding-right: 100px;
    line-height: 1.3;
}

.right-side-content .failure-list {
    padding: 0;

}

.failure-list li {
    line-height: 2;
    color: #444343;
}

.failure-list i {
    color: #16D887;
    margin-right: 15px;
}

/* plans css */

.plans-tittle {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.programmings {
    display: flex;
    justify-content: space-between;
}

.single-programming {
    text-align: center;
}

.single-programming h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.single-programming h4 {
    font-size: 22px;
    margin-top: 15px;
    color: #737272;
    font-weight: 500;
}

/* mimdset css */
.mindset-section {
    overflow: hidden;
    margin: 100px auto 100px auto;
}

.mindset {
    background: url(images/gradient1.png), url(images/watch.png);
    background-repeat: no-repeat;
    padding: 80px;
}

.mindset-tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
    max-width: 500px;
}

.btn-secondary {
    border: none;
    border-radius: 6px;
    padding: 18px 36px;
    margin-top: 25px;
    color: dodgerblue;
    font-size: 16px;
    font-weight: 501;
    font-family: 'Work Sans', sans-serif;
}

/* footer css */

.footer {
    display: flex;
    background-color: #151414;
    color: #fff;
    padding: 120px 140px;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
    padding-left: 170px;
}

.left-titlle {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.left-descript {
    color: #fff;
    font-weight: 200;
    line-height: 22px;
    margin-top: 0;
}

.contacts {
    padding: 0;
    line-height: 35px;
    margin-bottom: 25px;
}

.socials {
    padding: 0;
    display: flex;
}

.socials li {
    margin-right: 12px;
    background: #fff;
    border-radius: 50%;
}

.socials li i {
    margin: 0;
    font-size: 25px;
    padding: 8px;
}

.fa-brands.fa-facebook {
    color: #1877F2;
}

.fa-brands.fa-youtube {
    color: #CD201F;
}

.fa-brands.fa-twitter {
    color: #1DA1F2;
  }

.right-footer-tittle {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

.footer-right input {
    outline: none;
    padding: 18px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background: #151414;
    width: 100%;
}

.btn-classic {
    padding: 20px 45px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #1877F2;
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-classic:hover {
    background-color: #16D887;
}